  <div style="position:sticky;!important">
    <ul class="nav navbar-dark bg-dark" style="position: sticky;overflow:none">
  <li class="nav-item" style="position: sticky;">
    <a class="nav-link" href="/" style="color: white;">Home</a>
  </li>
  <li class="nav-item" style="position: sticky;">
    <a class="nav-link" href="login" style="color: white;">Login</a>
  </li>
  <li class="nav-item" style="position: sticky;">
    <a class="nav-link" href="register" style="color: white;">Register</a>
  </li>  
</ul>
</div>

 