
{{>header1}}
<div>
    <center><h1 style="margin-top:1em">Welcome To Url-Shortner</h1></center>
    </div>
<center><div style="margin-top:5em">
<form class="gogole" method="POST" action="/url">
    Enter a long URL to make tiny:
    <input type="text" name="url">
    <input type="submit" value="submit">
</form>
    </div></center>

    {{!-- <script>
    let yahoo=document.querySelector(".gogole")
    yahoo.addEventListener('submit',(e)=>{
        event.preventDefault()
        console.log(e.)
    })

        </script> --}}